
.anim-book {
    height: 70px;
}

.horizontal-strip {
    height: 2px;
    width: 100%;
    background-color: #5D9BB0;
}

.book-style {
    width: 200px;
}

.input-field {
    background-color: #5D9BB0;
    border: none;
    border-bottom: #ff8a05 2px;
    width: 100%;
}