header {
    background-color: #04242E;
    padding: 10px;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
}

body {
    background-color: #021821;
    height: 100vh;
}

.main-container {
    margin: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.popup-container {
    border-radius: 15px;
    width: 350px;
    background-color: #0A3949;
    
} 

.title {
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 22px;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.img-container {
    background-color: #185163;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5);
}

.price-like-container {
    display: flex;
    justify-content: space-between;
}

.likes {
    display: flex;
    gap: 20px;
    color: aliceblue;
}

.price-style {
    font-weight: bold;
    color: rgb(239, 122, 122);
    font-size: 19px;
}

.content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.category {
    color: aliceblue;
    display: flex;
    gap: 10px;
}

.comment-headline {
    padding: 10px;
    color: aliceblue;
    font-weight: bold;
}

.comment-box {
    width: 90%;
    height: 90px;
    overflow-y: auto;
    color: aliceblue;
    padding-left: 10px;
    padding-right: 10px;
    font-size: small;
}

.comment-structure {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 5px;
}

.comment-name {
    min-width: 150px;
    font-weight: bold;
    color: rgb(239, 122, 122);
}

.comment-text {
    flex: 1;
    color: white;
}


.input-container {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}