header {
    background-color: #04242E;
    padding: 10px;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
}

body {
    background-color: #021821;
    height: 100vh;
}

.main-container {
    margin: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    gap: 20px;
}

.popup-container {
    border-radius: 15px;
    height: 500px;
    width: 300px;
    background-color: #0A3949;
    
} 

.title {
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.img-container {
    background-color: #185163;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    padding: 20px;
}

.input-container {
    padding: 10px;
    display: flex;
}